*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cursor{
    height: 20px;
    width: 20px;
    background-color: antiquewhite;
    border-radius: 50%;
    position: fixed;
    font-size: 5px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 9;
    margin: 20px;
}
#image{
    height: 40vw;
    width: 60vw;
    /* background-color: red; */
    position: relative;
}
#image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
}
#overlay{
    position: absolute;
    background-color: transparent;
    height: 100%;
    width: 100%;
    z-index: 10;
}
